body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: red;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.1); /* Slight transparency to the container for a modern touch */
    padding: 5px 5px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.text {
    font-size: 0.7em;
    margin-bottom: 5px;
}

h1 {
    font-size: 0.9em;
    margin: 0;
    font-weight: bold;
}
